html, body{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column; 
    align-items: center;
}

#dialog{
    display: flex;
    flex-direction: column; 
    width: 400px;
}

#in{
    height: 100px;    
}

#prompt{
    display: grid;
    grid-template-columns: auto 50px;
    height: 50px;
}